<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
          PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	 <settings>
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	 	<setting name="logImpl" value="LOG4J2"/>
	 </settings>
	 
	<typeAliases>
	 	<typeAlias type="com.issue.shoes.tradeBoard.vo.TradeBoard" alias="tradeBoard" />
	 	<typeAlias type="com.issue.shoes.tradeBoard.vo.InsertTradeBoard" alias="insertTradeBoard" />
	 	<typeAlias type="com.issue.shoes.tradeBoard.vo.TradeBoardDetail" alias="tradeBoardDetail" />
	 	<typeAlias type="com.issue.shoes.communityBoard.vo.CommunityBoard" alias="CommunityBoard" />
	 	<typeAlias type="com.issue.shoes.communityLike.vo.CommunityLike" alias="communityLike" />
	 	<typeAlias type="com.issue.shoes.oauth.vo.OauthJwt" alias="userJwt" />
	</typeAliases>
</configuration>
