<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tradeBoard">

	<select id="searchAllTradeBoard" resultType="tradeBoard">
		SELECT A.tradeId, A.goodsCategory, A.tradeImage, A.tradeTitle, 
		A.userId, A.tradeDate, IFNULL(B.count, 0) AS tradeLike
		FROM tradeBoard A
		LEFT JOIN
		(SELECT tradeId, COUNT(*) AS count
		FROM tradeLike
		GROUP BY tradeId) B
		ON A.tradeId = B.tradeId
	</select>
	
	<select id="selectTradeTitle" parameterType="String" resultType="tradeBoard">
		SELECT tradeId, goodsCategory, tradeImage, tradeTitle,
				userId, tradeLike, tradeDate
		FROM tradeBoard
		WHERE tradeTitle LIKE CONCAT('%',#{keyword},'%')
	</select>
	
	<insert id="insertTradeBoard" parameterType="insertTradeBoard">
		INSERT INTO tradeBoard(tradeId, tradeTitle, tradeContents, tradeLike, tradeStatus, tradePrice, tradeImage, goodsCategory, userId) 
		VALUES(#{tradeId}, #{tradeTitle}, #{tradeContents}, ${tradeLike}, #{tradeStatus}, ${tradePrice}, #{tradeImage}, #{goodsCategory}, #{userId})
	</insert>
	
	<select id="user" parameterType="String" resultType="tradeBoardDetail">
		SELECT nickName, point FROM user
		WHERE userId = #{userId}; 
	</select>
	
	<select id="boardDetail" parameterType="String" resultType="tradeBoardDetail">
		SELECT A.tradeId, A.goodsCategory, A.tradeImage, A.tradeTitle, 
		A.tradeContents, A.tradePrice, A.tradeStatus, A.tradeDate, IFNULL(B.count, 0) AS tradeLike
		FROM tradeBoard A
		LEFT JOIN
		(SELECT tradeId, COUNT(*) AS count
		FROM tradeLike
		GROUP BY tradeId) B
		ON A.tradeId = B.tradeId
		WHERE A.tradeId = #{tradeId}
	</select>
</mapper>