<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="User">

	<select id="selectLoginUser" parameterType="String"
		resultType="com.issue.shoes.user.vo.User">
		SELECT userId, userPw
		FROM user WHERE userId = #{userId} AND deleteDate IS NULL;
	</select>

	<select id="selectUserById" parameterType="String"
		resultType="com.issue.shoes.user.vo.User">
		SELECT userId, userPw, userName, nickName, signupDate, updateDate,
		deleteDate,
		adminStatus, point, profileImage, phone, reportCount, reportDate
		FROM user WHERE userId = #{userId} AND deleteDate IS NULL;
	</select>

	<insert id="insertUser"
		parameterType="com.issue.shoes.user.vo.User">
		INSERT INTO user (userId, userPw, userName, nickName, phone)
		VALUES (#{userId}, #{userPw}, #{userName}, #{nickName}, #{phone})
	</insert>
	
	<insert id="insertUseroauth"
		parameterType="com.issue.shoes.user.vo.User">
		INSERT INTO oauthjwt (userId, subject)
		VALUES (#{userId}, #{userId})
	</insert>
	
	<insert id="insertPreference"
		parameterType="com.issue.shoes.user.vo.User">
		INSERT INTO Preference (preference1, preference2, preference3, userId)
		VALUES (#{preference1}, #{preference2}, #{preference3}, #{userId})
	</insert>

	<update id="updateUser"
		parameterType="com.issue.shoes.user.vo.User">
		UPDATE user
		SET userPw = #{userPw},
		userName = #{userName},
		nickName = #{nickName},
		phone = #{phone},
		profileImage = #{profileImage}
		WHERE userId = #{userId} AND deleteDate IS NULL;
	</update>

	<update id="deleteUser" parameterType="String">
		UPDATE user
		SET deleteDate = NOW()
		WHERE userId = #{userId}
	</update>
	
	<update id="deleteUseroauth" parameterType="String">
		UPDATE OauthJwt
		SET deleteDate = NOW()
		WHERE userId = #{userId}
	</update>

</mapper>